body {
    background: #111b21;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.chat-container {
    width: 350px;
    height: 550px;
    background: #0b141a;
    display: flex;
    flex-direction: column;
}

h2 {
    background: #202c33;
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
}

#chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    max-width: 70%;
}

.left {
    background: #202c33;
    color: white;
}

.right {
    background: #005c4b;
    color: white;
    margin-left: auto;
}

.input-area {
    display: flex;
    padding: 10px;
    background: #202c33;
}

#msg {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

button {
    margin-left: 10px;
    background: #00a884;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
}